@font-face {
    font-family: UbuntuLight;
    src: url(../desktop/assets/fonts/Ubuntu-L.ttf);
}
@font-face {
    font-family: UbuntuCondensed;
    src: url(../desktop/assets/fonts/Ubuntu-C.ttf);
}
@font-face {
    font-family: UbuntuBold;
    src: url(../desktop/assets/fonts/Ubuntu-B.ttf);
}
@font-face {
    font-family: UbuntuRegular;
    src: url(../desktop/assets/fonts/Ubuntu-R.ttf);
}
body {
    font-family: UbuntuRegular;
    font-size: 13px;
}
.dhxwins_vp_dhx_web{font-family: UbuntuRegular;} div.dhxwin_hdr{font-family: UbuntuRegular;}
.dhxwins_vp_dhx_web div.dhxwin_hdr{font-family: UbuntuRegular;}
.dhxwin_hdr{font-family: UbuntuRegular;}
.dhx_ui_desktop_active_area {
    position: static;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    background: url(../desktop/assets/wallpapers/unity.jpg) #ed774d -300px center;
    z-index: 1;
    transition: all 0.6s ease-in-out;
    /* Let's enforce some hardware acceleration */
    
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
}
.dhx_ui_desktop_top_bar {
    position: absolute;
    width: 100%;
    height: 24px;
    padding: 0px;
    z-index: 2;
    top: 0px;
    left: 0px;
    background: #59574f;
    /* Old browsers */
    
    background: -moz-linear-gradient(top, #59574f 0%, #41403b 100%);
    /* FF3.6+ */
    
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #59574f), color-stop(100%, #41403b));
    /* Chrome,Safari4+ */
    
    background: -webkit-linear-gradient(top, #59574f 0%, #41403b 100%);
    /* Chrome10+,Safari5.1+ */
    
    background: -o-linear-gradient(top, #59574f 0%, #41403b 100%);
    /* Opera 11.10+ */
    
    background: -ms-linear-gradient(top, #59574f 0%, #41403b 100%);
    /* IE10+ */
    
    background: linear-gradient(to bottom, #59574f 0%, #41403b 100%);
    /* W3C */
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#59574f', endColorstr='#41403b', GradientType=0);
    /* IE6-9 */
    
    -webkit-box-shadow: 0px 3px 12px 0px rgba(20, 19, 20, 1);
    -moz-box-shadow: 0px 3px 12px 0px rgba(20, 19, 20, 1);
    box-shadow: 0px 3px 12px 0px rgba(20, 19, 20, 1);
    transition: all 0.6s ease-in-out;
    /* Let's enforce some hardware acceleration */
    
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    color: #FFF;
}
.dhx_ui_desktop_top_bar_left_text {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 20px;
    width: 146px;
    padding-left: 8px;
    padding-top: 4px;
    font-family: UbuntuRegular;
     color:#dfdbd2;
  font-size:13px;
  text-shadow: 0px 1px 1px #333;
  font-weight:normal;
}
.dhx_ui_desktop_top_bar_quick_tools {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 24px;
    width: 428px;
    font-family: UbuntuLight;
    padding-right: 5px;
    font-size: 12px;
}
.dhx_ui_desktop_top_bar_quick_tools_settings {
    position: relative;
    float: right;
    height: 24px;
    background: url(../desktop/assets/images/top_buttons.png) no-repeat -396px 0px;
    cursor: pointer;
}
.dhx_ui_desktop_top_bar_quick_tools_clock {
    position: relative;
    float: right;
    padding-top: 4px;
    height: 20px;
    padding-left: 5px;
    width: 48px;
    margin-right: 2px;
    cursor: wait;
    font-size: 13px;
	color:#dfdbd2;
}
.dhx_ui_desktop_top_bar_quick_tools_transfers {
    position: relative;
    float: right;
    height: 24px;
    width: 30px;
    background: url(../desktop/assets/images/top_buttons.png) no-repeat -169px 0px;
    margin-right: 2px;
}
.dhx_ui_desktop_top_bar_quick_tools_idioms {
    position: relative;
    float: right;
    padding-top: 3px;
    height: 17px;
    width: auto;
    padding-left: 3px;
    padding-right: 3px;
    margin-top: 2px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    z-index: 3;
    background: #dfdbd2;
    /* Old browsers */
    
    color: #333;
    cursor: pointer;
    margin-right: 2px;
}
.dhx_ui_desktop_side_bar {
    position: absolute;
    z-index: 1;
    top: 25px;
    left: 0px;
    width: 66px;
    background: -moz-linear-gradient(top, rgba(51, 51, 51, 0.73) 0%, rgba(83, 83, 83, 0.64) 62%, rgba(92, 92, 92, 0.44) 80%, rgba(102, 102, 102, 0) 100%);
    /* FF3.6+ */
    
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(51, 51, 51, 0.73)), color-stop(62%, rgba(83, 83, 83, 0.64)), color-stop(80%, rgba(92, 92, 92, 0.44)), color-stop(100%, rgba(102, 102, 102, 0)));
    /* Chrome,Safari4+ */
    
    background: -webkit-linear-gradient(top, rgba(51, 51, 51, 0.73) 0%, rgba(83, 83, 83, 0.64) 62%, rgba(92, 92, 92, 0.44) 80%, rgba(102, 102, 102, 0) 100%);
    /* Chrome10+,Safari5.1+ */
    
    background: -o-linear-gradient(top, rgba(51, 51, 51, 0.73) 0%, rgba(83, 83, 83, 0.64) 62%, rgba(92, 92, 92, 0.44) 80%, rgba(102, 102, 102, 0) 100%);
    /* Opera 11.10+ */
    
    background: -ms-linear-gradient(top, rgba(51, 51, 51, 0.73) 0%, rgba(83, 83, 83, 0.64) 62%, rgba(92, 92, 92, 0.44) 80%, rgba(102, 102, 102, 0) 100%);
    /* IE10+ */
    
    background: linear-gradient(to bottom, rgba(51, 51, 51, 0.73) 0%, rgba(83, 83, 83, 0.64) 62%, rgba(92, 92, 92, 0.44) 80%, rgba(102, 102, 102, 0) 100%);
    /* W3C */
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ba333333', endColorstr='#00666666', GradientType=0);
    /* IE6-9 */
    
    transition: all 0.6s ease-in-out;
    /* Let's enforce some hardware acceleration */
    
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
}
.dhx_ui_desktop_side_bar_container {
    position: absolute;
    z-index: 1;
    width: 66px;
    padding-left: 3px;
    padding-top: 11px;
    overflow: hidden;
    padding-bottom: 54px;
    top: 0px;
    transition: all 0.6s ease-in-out;
    /* Let's enforce some hardware acceleration */
    
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
	
}
.dhx_ui_desktop_side_bar_nav_top {
    position: absolute;
    z-index: 6;
    top: -1px;
    cursor: pointer;
    background: url(../desktop/assets/images/nav_top.png) no-repeat 28px 5px;
}
.dhx_ui_desktop_side_bar_nav_bottom {
    position: absolute;
    z-index: 6;
    bottom: 22px;
    cursor: pointer;
    background: url(../desktop/assets/images/nav_bottom.png) no-repeat 28px 2px;
}
.dhx_ui_desktop_side_button {
    position: relative;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 2px;
    width: 49px;
    height: 49px;
    padding-top: 3px;
    padding-left: 3px;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border-color: #666666;
    border-style: solid;
    border-width: 1px;
    -webkit-box-shadow: inset 0px 0px 2px 2px #333;
    -moz-box-shadow: inset 0px 0px 2px 2px #333;
    box-shadow: inset 0px 0px 2px 2px #333;
    z-index: 3;
    background: -moz-linear-gradient(top,  rgba(102,102,102,0.8) 0%, rgba(51,51,51,0.8) 50%, rgba(102,102,102,0.8) 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(102,102,102,0.8)), color-stop(50%,rgba(51,51,51,0.8)), color-stop(100%,rgba(102,102,102,0.8))); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  rgba(102,102,102,0.8) 0%,rgba(51,51,51,0.8) 50%,rgba(102,102,102,0.8) 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  rgba(102,102,102,0.8) 0%,rgba(51,51,51,0.8) 50%,rgba(102,102,102,0.8) 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  rgba(102,102,102,0.8) 0%,rgba(51,51,51,0.8) 50%,rgba(102,102,102,0.8) 100%); /* IE10+ */

background: linear-gradient(to bottom,  rgba(102,102,102,0.8) 0%,rgba(51,51,51,0.8) 50%,rgba(102,102,102,0.8) 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc666666', endColorstr='#cc666666',GradientType=0 ); /* IE6-9 */


    /* IE6-9 */
    
    transition: all 0.1s ease-in-out;
    /* Let's enforce some hardware acceleration */
    
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    cursor: pointer;
    opacity: 0.7;
    filter: alpha(opacity=70);
}
.dhx_ui_desktop_side_button img{
    clear:both;
    opacity: 1;
    filter: alpha(opacity=100);
}
.dhx_ui_desktop_side_button:hover {
    width: 51px;
    height: 51px;
    padding-top: 5px;
    padding-left: 5px;
    margin-left: 0px;
    margin-top: 1px;
    margin-bottom: 1px;
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-box-shadow: inset 0px 0px 2px 2px #333;
    -moz-box-shadow: inset 0px 0px 2px 2px #333;
    box-shadow: inset 0px 0px 2px 2px #333;
}





